*{
    font-family: 'Comfortaa', cursive;
}

:root{
    --main-color :#E64B2E;
    --accent-color :#F2AD3F;
}
/* lineargradient per sporcare un po lo sfondo e leggere meglio  */
body{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) , url('./cover/sfondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.titolo{
    text-align: center;
    color: var(--accent-color);
    padding-bottom: 0;
    margin-bottom: 0;
}

.main-wrapper{
    background:linear-gradient(126deg, rgba(245, 167, 0, 0.438),rgba(0, 0, 0, 0.246));
    border-radius: 10px;
    backdrop-filter: blur(5px);
    height: 360px;
}

.btn-sidebar{
    border-radius: 100%;
    color:white;
    background-color: rgba(0,0,0,0.3);
    height: 50px;
    width: 50px;
    transition: 0.3s;
    
}

.btn-sidebar:hover{
    color: var(--accent-color);
}

.btn-sidebar.active{
    background-color: var(--main-color);

}

.album-cover{
    border-radius: 100%;
    width: 80%;
    max-width: 300px;
    transition: 0.5s;
}

.album-cover.play {
    border-radius: 100%;
    width: 100%;
    animation-name: play;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.btn-play-pause{
    font-size: 40px;
    color: var(--main-color);
}


.player-progress{
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}


.player-progress .player-progress-bar{

    background: linear-gradient(to right , var(--main-color) , var(--accent-color));
    border-radius: 10px;
    height: 100%;

}

.song-cart{
    border-bottom: 1px solid var(--main-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-song-list{
    border-radius: 30px;
    background-color: var(--accent-color);
    color:var(--main-color);
    font-weight: bold;
}

.scroll-y {
    overflow-y : scroll;
}
.menu-wrapper{
    height: 50vh;
}













@keyframes play{

    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

@media screen and (max-width:768pc ){
    
    .main-wrapper{
    background:linear-gradient(126deg, rgba(245, 167, 0, 0.438),rgba(0, 0, 0, 0.246));
    border-radius: 10px;
    backdrop-filter: blur(5px);
    height: auto;
    }
    .scroll-y {
        max-height : 67vh;
    }


}

/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.3);
    border-radius: 4px;

}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 4px;

}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
    border-radius: 4px;

}
